#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/outputs.h>

#define MEDIA 0
#define NUMPAD 1

/ {
    sensors {
        compatible = "zmk,keymap-sensors";
        sensors = <&encoder0>;
        triggers-per-rotation = <10>;
    };

    behaviors {
        // Encoder rotation → RGB brightness (used on the BT+LED layer).
        // inc_dec_kp only wraps key presses, so RGB needs a dedicated
        // sensor-rotate behavior. CW = brighter, CCW = dimmer.
        rgb_encoder: rgb_encoder {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&rgb_ug RGB_BRI>, <&rgb_ug RGB_BRD>;
        };
    };

    keymap {
        compatible = "zmk,keymap";
        media_layer {
            display-name = "MEDIA";
            bindings = <
                &mo 3     &kp LS(PG_UP)  &kp SPACE     &kp LS(PG_DN)
                &mo 2     &kp PG_UP      &kp LC(LA(LS(M)))  &kp PG_DN
                &mo 1     &kp LEFT       &kp C_MUTE    &kp RIGHT
                &to 1     &kp LALT       &kp C_PREV    &kp C_PP       &kp C_NEXT
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP>;
        };


        numpad_layer {
            display-name = "NUMPAD";
            bindings = <
                &mo 3     &kp KP_N7      &kp KP_N8     &kp KP_N9
                &mo 2     &kp KP_N4      &kp KP_N5     &kp KP_N6
                &mo 1     &kp KP_N1      &kp KP_N2     &kp KP_N3
                &to 0     &kp LCTRL      &kp KP_DOT    &kp KP_N0      &kp KP_ENTER
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP>;
        };

        extra_1 {
            status = "reserved";
        };

        extra_2 {
            status = "reserved";
        };

        extra_3 {
            status = "reserved";
        };
    };
};
